*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
.out_line{
    background-color: white;
    margin-top: 100px;
    margin-left: 500px;
    border: 1px solid black;
    width: 650px;
}
.top{
    display: flex;
    background-color: rgb(7, 255, 222);
    gap: 140px;
    padding:20px;
}
.poin_text{
    color: white;
    font-weight: 500;
}
.poin{
    color: white;
    font-weight: 500;
}

.tile{
    display: flex;
    gap:10px
}

.tile__text{
    display: flex;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 21px;
}
.table{
    width: 100%;
    padding-top: 10px;
}
td{
    padding-left: 10px;
    height: 30px;
}

.bottom{
    background-color: rgb(7, 255, 222);
    padding: 10px;
}
.input{
    width: 450px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: rgb(15, 235, 187);
    color: white;
    padding-left: 10px;
}
#add_player{
    margin-left: 10px;
    width: 200xp;
    width: 130px;
    height: 35px;
}
::placeholder {
    color: white;
  }